.page_title {
    font-size: 14pt;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

LeaftopChartButton:hover {
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 4px;
}

levelbar block.filled {
    background-color: rgb(87, 148, 235);
    border-color: rgb(87, 148, 235);
}

/*Fix for adwaita*/
treeexpander indent {
	-gtk-icon-size: 16px;
}

closablecard {
    border-radius: 4px;
    background-color: rgba(128, 128, 128, 0.15);
}

closablecard button:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

closablecard button {
    padding: 0;
    background: none;
    border: none;
}

.padded-dialog {
    padding: 10px;
}
.padded-dialog button {
    margin-left: 10px;
}