.page_title {
    font-size: 14pt;
    font-weight: bold;
}

LeaftopChartButton:hover {
    background-color: rgba(128, 128, 128, 0.15);
    border-radius: 4px;
}

levelbar block.filled {
    background-color: rgb(87, 148, 235);
    border-color: rgb(87, 148, 235);
}
